/*Hoja de estilos para "Tablas.html"*/
body
{
	background-color: #85c1e9;
	font-family: arial, verdana, sans-serif;

}
table
{
	width: 90%;
	margin: auto;
	border: 5px solid black;
	border-collapse: collapse;
	caption-side: top;
}
th, td
{
	border: 3px solid black;
}
table tr:nth-child(odd)
{
	background-color: #ad8434;
}
table tr:nth-child(even)
{
	background-color: #d5a74f ;
}
th
{
	background-color: #d5a74f ;
	padding: 15px;
}
td
{
	padding: 10px;
	text-align: justify;
}
table td:hover
{
	background-color: #2980b9;
	color: white;
}
