ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
}
.capa1
{
	margin-left: 15%;
	padding: 12px;
	height: 1000px;
}
li a{
    display: block;
    background-color: #bee9f0;
    padding: 8px 10px;
    text-decoration: none;
    color: black;
}
li a:hover{
    background-color:#244347;
    color: #9ac5cc ;
}
li a.activo{
    background-color:#244347 ;
    color: #9ac5cc;
}
h1
{
  font-family: "Big Shoulders Stencil", sans-serif, system-ui,;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
p{
  font-family: "Big Shoulders", sans-serif, system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
